section.dive 
    .container 
        .dive-bg
            .dive-container 
                .dive-content
                    .dive-title Greetings! Dive into the Cybernetic Universe
                    .dive-desc Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. Explore the high-tech, low-life world where the lines between humanity and machinery blur.
                .dive-border
                    .dive-more 
                        .dive-item
                            .dive-li
                                img.dive-img(src="../images/img-dive2.png")
                                .dive-caption   Join the Revolution
                            a.dive-icon(href="#")
                                i.fa.fa-arrow-right.
                        .dive-item
                            .dive-li
                                img.dive-img(src="../images/img-dive3.png")
                                .dive-caption Art and Design
                            a.dive-icon(href="#")
                                i.fa.fa-arrow-right.
                        .dive-item
                            .dive-li
                                img.dive-img(src="../images/img-dive2.png")
                                .dive-caption Tech and Gear
                            a.dive-icon(href="#")
                                i.fa.fa-arrow-right.
                        .dive-item
                            .dive-li
                                img.dive-img(src="../images/img-dive3.png")
                                .dive-caption Stories and Lore
                            a.dive-icon(href="#")
                                i.fa.fa-arrow-right.
