section.footer 
    .container 
        .footer-container
            .footer-top 
                .footer-item
                    .footer-title1 Cyber.AI - Cyber Punk Website
                    .footer-desc1 Explore the high-tech, low-life world where the lines between humanity
                .footer-item
                    .footer-title Information
                    li.footer-desc Press Centre
                    li.footer-desc Our Blog
                    li.footer-desc Term and Condition
                .footer-item
                    .footer-title Menu
                    li.footer-desc About 
                    li.footer-desc Services 
                    li.footer-desc Blog
                .footer-item
                    .footer-title Contact
                    li.footer-desc Phone: +123 456 789
                    li.footer-desc Email: @example.com
                    li.footer-desc Address Line 01
            .footer-both 
                .footer-end Cyber.AI - Cyber Punk 2024. All rights reserved.
                .footer-help 
                    p Terms
                    p Privacy 
                    p Cookies
                .footer-social
                    i.fab.fa-linkedin-in
                    i.fab.fa-facebook-f
                    i.fab.fa-twitter