header.header 
  .container 
    .header-list
      h2.header-logo Cyber.AI
      button.header-toggle#menuToggle
        i.fas.fa-bars
      ul.header-menu#headerMenu
        li.header-menu-item 
          a.header-menu-link(href="#") Home
        li.header-menu-item 
          a.header-menu-link(href="#") Pages
        li.header-menu-item 
          a.header-menu-link(href="#") Support
        li.header-menu-item 
          a.header-menu-link(href="#") Contact
      button.header-button Get started free