header.header 
  .container 
    .header-list
      h2.header-logo Cyber.AI
      ul.header-menu
        li.header-menu-item 
          a.header-meuu-link(href="#") Home
        li.header-menu-item 
          a.header-meuu-link(href="#") Pages
        li.header-menu-item 
          a.header-meuu-link(href="#") Support
        li.header-menu-item 
          a.header-meuu-link(href="#") Contact
      button.header-button Get started free

      