section.into 
    .container 
        .into-title Dive into the Cybernetic 
            span.into-design Universe
        .into-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements.
        .into-list 
            .into-item 
                .into-border
                    i.fab.fa-figma.into-icon
                .into-item-content
                    .into-item-title Discover the Future
                    .into-item-desc Explore the high-tech, low-life world where the lines between humanity
            .into-item 
                .into-border
                    i.fas.fa-folder.into-icon
                .into-item-content
                    .into-item-title Explore Features
                    .into-item-desc Explore the high-tech, low-life world where the lines between humanity
            .into-item 
                .into-border
                    i.fas.fa-wave-square.into-icon
                .into-item-content
                    .into-item-title Stay Connected
                    .into-item-desc Explore the high-tech, low-life world where the lines between humanity