section.punk 
    .container 
        h1.punk-caption Cyber Punk
        img.punk-img(src="../images/img-punk1.png")
        .punk-list
            .punk-item-left
                h3.punk-left-title Stories & Lore
                p.punk-left-desc Dive into compelling narratives set in a dystopian future 

            .punk-item-right
                h3.punk-right-title Events and 
                    span.design-text Update
                p.punk-right-desc Explore the high-tech, low-life world where the lines between humannity and machinery blur
                buton.punk-button Read More
        .punk-list-both 
            .punk-bothleft-item 
                img.punk-bothleft-img(src="../images/img-punk2.png")
                .punk-bothleft-content
                    .punk-bothleft-number 76,285K+
                    .punk-bothleft-title Experience the Future 
                    .punk-bothleft-desc Explore the high-tech, low-life world where the lines between humannity and machinery blur
            .punk-bothcenter-item 
                .punk-bothcenter-title art and 
                    span.design-text design
                .punk-bothcenter-desc Explore the high-tech, low-life world where the lines between humannity and machinery blur
            .punk-bothright-item 
                .punk-bothright-title 17+
                .punk-bothright-desc Years of Experiences

    
