section.where 
    .container 
        .where-list 
            .where-content
                .where-title 
                    | Where 
                    span.highlight Neon Dreams 
                    span.highlight & Digital 
                    |  Nightmares Converge.
                .where-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements. Explore the high-tech, low-life world where the lines between humanity and machinery blur.
                .where-data 
                    .where-data-item 
                        .where-number 89,2K+
                        .where-caption Discover the Future
                    .where-data-item 
                        .where-number 7001+
                        .where-caption Stories and Lore 
                    .where-data-item 
                        .where-number 3,124+
                        .where-caption Art and Design
            img.where-img(src="../images/img-punk1.png")
        .where-list 
            img.where-img(src="../images/img-punk1.png")
            .where-content
                .where-title 
                    | Unveil    
                    span.highlight the Secrets 
                    span.highlight of the 
                    |  Cybernetic Underworld
                .where-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements.
                .where-more
                    img.where-more-img(src="../images/img-punk2.png")
                    .where-more-content
                        .where-more-title Join the Revolution
                        .where-more-desc Explore the high-tech, low-life world where the lines between humanity and machinery blur.
            