section.your 
    .container 
        .your-top 
            img.your-top-img(src="../images/img-your1.png")
            .your-top-content
                .your-top-title
                    | Your 
                    span.your-design Portal to a 
                    span.your-design Gritty, 
                    | Tech-Driven Future.
                .your-top-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements.
                .your-top-button 
                    .your-button Read More
                    .your-border
                        .your-border-button Learn More
        .your-both
            .your-both-title Frequently Asked 
                span.your-design Questions
            .your-both-desc A realm where advanced technology meets dystopian reality. Our website is your gateway to a universe of neon lights, gritty streets, and cybernetic enhancements.
            .your-both-content
                .your-list 
                    .your-item 
                        .your-number 01.
                        .your-item-content 
                            .your-item-title How d I stay updated on new content and events?
                            .your-item-desc A realm where advanced technology meets dystopian reality. Our website is your gateway....
                    .your-item 
                        .your-number 02.
                        .your-item-content 
                            .your-item-title How can I contact customer cyber punk support?
                            .your-item-desc A realm where advanced technology meets dystopian reality. Our website is your gateway....
                .your-list 
                    .your-item 
                        .your-number 03.
                        .your-item-content 
                            .your-item-title Can I purchase cyberpunk-themed merchandise?
                            .your-item-desc A realm where advanced technology meets dystopian reality. Our website is your gateway....
                    .your-item 
                        .your-number 04.
                        .your-item-content 
                            .your-item-title Are there any rules or guidelines for participating in the community?
                            .your-item-desc A realm where advanced technology meets dystopian reality. Our website is your gateway....

